* ,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.logo img {
    width: 30%;
    
}

header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient( to bottom,rgba(0, 0,0, 0.9), rgba(0, 0, 0, 0.013), rgba(0, 0, 0, 0.8)), url(../images/netflix_backgroud_picture.jpg);
    background-position: center;
    background-size: cover;
    border-bottom: 10px solid rgb(66, 62, 62);


}

.header_container {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding-top: 30px;
}

button {
    background-color: red;
    padding: 10px 15px;
    border-radius: 5px;
    border-style: none;
}

button a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}
.first_section {
    color: white;
    text-align: center; 
    padding-top: 150px;
    justify-content: center;
    align-items: center; 
    display: flex; 
    
}

.first_section .content { 
width: 60%; 
}

.first_section .content h1{
    font-weight: 600;
    font-size: 50px;
    width: 80%;
    margin: auto;
    padding-bottom: 10px;
}

.first_section .content p {
    font-size: 1.6rem ;
    padding-bottom: 25px;
}

.first_section .content label {
    font-size: 20px;
    padding: 0 25px;
    /* width: 90%; */
    
}

.first_section .get_started input{
   padding: 15px 15px; 
   width: 70%;
   margin-right: 1px;
 
}

.first_section .get_started button {
    padding: 15px 15px;
    color: white;
    width: 25%;
    font-size: 1.6rem;
    font-weight: 500;
}

.first_section .get_started {
    display: flex; 
    /* border: 1px solid;  */ 
    margin: 20px 0;
}

.second_section {
    background-color: black;
    padding: 5rem 3rem 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom:10px solid rgb(66, 62, 62) ;
}

.second_section .left_1 {
    justify-content: center;
    /* text-align: center; */
    align-items: center;
    padding-left: 6rem;
}

.second_section .left_1 h1 {
 font-size: 2.8rem; 
 padding-bottom: 1.5rem;
}

.second_section .left_1 h3 {
    width: 70%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: 1.7rem;
}

.second_section .right_1 img {
    width: 100%;
    padding-right: 4rem;
}

.third_section {
    background-color: black;
    padding: 3rem 3rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom:10px solid rgb(66, 62, 62) ;
    margin:  0 auto;
}

.third_section .left_2 img {
    width: 100%;
    
}

.third_section .right_2 {
    padding: 4rem 1rem 2rem; 
}

.third_section .right_2 h1{
    width: 70%;
    font-size: 3rem;
    padding-bottom: 1rem;
}

.third_section .right_2 h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    font-size: 1.7rem;
    width: 70%;
}

.fourth_section {
    background-color: black;
    padding: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom:10px solid rgb(66, 62, 62) ;
    margin:  0 auto;
}

.fourth_section .left_3 {
    padding-left: 2.5rem;
}

.fourth_section .left_3 h1{
    width: 80%;
    font-size: 3rem;
    padding-bottom: 1rem;
}

.fourth_section .left_3 h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    font-size: 1.7rem;
    width: 80%;
}

.fourth_section .right_3 img {
    height: 75vh;
}

.fifth_section {
    background-color: black;
    padding: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom:10px solid rgb(66, 62, 62) ;
    margin:  0 auto;
}

.fifth_section .left_4 img {
 height: 60vh;   
 margin-left: 5rem;
}

.fifth_section .right_4 h1 {
    width: 80%;
    font-size: 3rem;
    padding-bottom: 1rem;
}

.fifth_section .right_4 h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    font-size: 1.7rem;
    width: 80%;
}


    background-color: black;
    padding: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom:10px solid rgb(66, 62, 62) ;
    margin:  0 auto;
}